In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kings\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kings\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: idna in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kings\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\kings\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\kings\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kings\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kings\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

#### Q - 1

Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
name_s=[]
artist_s=[]

In [7]:
# scrapping name_s from the given page
names_tags=driver.find_elements(By.XPATH,'//a[@class="mw-redirect"]')
for i in names_tags[0:10]:
    names=i.text
    name_s.append(names)
    
# scrapping ARTIST_S from the given page

artist_tags=driver.find_elements(By.XPATH,'//td[@align="right"]')
for a in names_tags[0:10]:
    artist=a.text
    artist_s.append(artist)

In [8]:
print(len(name_s),len(artist_s))

10 10

In [9]:
import pandas as pd
df=pd.DataFrame({'Names':name_s,'Artists':artist_s})
df

                        Names                     Artists
0                music videos                music videos
1                        Nike                        Nike
2       regional restrictions       regional restrictions
3            Baby Shark Dance            Baby Shark Dance
4        Johny Johny Yes Papa        Johny Johny Yes Papa
5  Cocomelon – Nursery Rhymes  Cocomelon – Nursery Rhymes
6  Cocomelon – Nursery Rhymes  Cocomelon – Nursery Rhymes
7  Cocomelon – Nursery Rhymes  Cocomelon – Nursery Rhymes
8                 Alan Walker                 Alan Walker
9            Baby Shark Dance            Baby Shark Dance

In [10]:
driver.close()

#### Q - 2

Scrape the details team India’s internationalfixtures from bcci.tv. 

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1stODI)

B) Series

C) Place

D) Date

E) Time

In [11]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [12]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [13]:
# opening the automated page on automated chrome browser
driver.get("https://www.bcci.tv/")   # opening the automated page on automated chrome browser
import time

In [16]:
match_title=[]
place=[]
date=[]
time=[]

In [17]:
# scrapping match_title from the given page
names_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in names_tags[0:10]:
    names=i.text
    match_title.append(names)
    
# scrapping place from the given page
place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tags[0:10]:
    plac=i.text
    place.append(plac)
    
# scrapping date from the given page
date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tags[0:10]:
    dat=i.text
    date.append(dat)
    
#  scrapping time from the given page
time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tags[0:10]:
    tim=i.text
    time.append(tim)

In [18]:
print(len(match_title),len(place),len(date),len(time))

3 3 3 3

In [19]:
import pandas as pd
df=pd.DataFrame({'Match_title':match_title,'Place':place,'Date':date,'Time':time})
df

,Match_title,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
1,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

In [20]:
driver.close()

#### Q - 3 

Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
    
A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [63]:
#### lets first connect to the server

driver=webdriver.Chrome(r"chromedriver.exe")

In [64]:
# opening the automated page on automated chrome browser
driver.get("https://www.statisticstimes.com/")   # opening the automated page on automated chrome browser
import time

search=driver.find_element(By.CLASS_NAME,"economy/india-statistics.php")
search.click()

In [65]:
Rank=[]
State=[]
GSDP_1819=[]
GSDPP_1920=[]
Share_1819=[]
GDP_billion=[]

In [66]:
# scrapping rank from the given page
rank_tags=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tags[0:33]:
    rank=i.text
    Rank.append(rank)
    
# scrapping state from the given page
state_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tags[0:33]:
    state=i.text
    State.append(state)
    
# scrapping GSDP_1819 from the given page
gsdp_1819_tags=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_1819_tags[0:33]:
    gsdp_1819=i.text
    GSDP_1819.append(gsdp_1819)
    
#  scrapping gsDPP_1920 from the given page
gSDPP_1920_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gSDPP_1920_tags[0:33]:
    gSDPP_1920=i.text
    GSDPP_1920.append(gSDPP_1920)
    
# scrapping Share_1819 from the given page
share_1819_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in share_1819_tags[0:33]:
    share_1819=i.text
    Share_1819.append(share1819)
    
#  scrapping GDP_billion from the given page
gDP_billion_tags=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gDP_billion_tags[0:33]:
    gDP_billion=i.text
    GDP_billion.append(gDP_billion)

In [67]:
print(len(Rank),len(State),len(GSDP_1819),len(GSDPP_1920),len(Share_1819),len(GDP_billion))

33 33 33 33 33 33

In [69]:
import pandas as pd
df=pd.DataFrame({'rank':Rank,'state':State,'gSDP_1819':GSDP_1819,'gSDPP_1920':GSDPP_1920,'share_1819':Share_1819,'gDP_billion':GDP_billion})
df

,rank,state,gSDP_1819,gSDPP_1920,share_1819,gDP_billion
0,1,Maharashtra,"2,632,792",-,143.179,-
1,2,Tamil Nadu,"1,630,208",13.94%,143.179,13.94%
2,3,Uttar Pradesh,"1,584,764",399.921,143.179,399.921
3,4,Gujarat,"1,502,899",-,143.179,-
4,5,Karnataka,"1,493,127","2,039,074",143.179,"2,039,074"
5,6,West Bengal,"1,089,898","1,845,853",143.179,"1,845,853"
6,7,Rajasthan,"942,586",8.63%,143.179,8.63%
7,8,Andhra Pradesh,"862,957",247.629,143.179,247.629
8,9,Telangana,"861,031","1,312,929",143.179,"1,312,929"
9,10,Madhya Pradesh,"809,592","1,215,307",143.179,"1,215,307"
10,11,Kerala,"781,653","1,687,818",143.179,"1,687,818"
11,12,Delhi,"774,870",8.39%,143.179,8.39%
12,13,Haryana,"734,163",240.726,143.179,240.726
13,14,Bihar,"530,363","1,166,817",143.179,"1,166,817"
14,15,Punjab,"526,376","1,123,982",143.179,"1,123,982"
15,16,Odisha,"487,805",-,143.179,-
16,17,Assam,"315,881",7.96%,143.179,7.96%
17,18,Chhattisgarh,"304,063",228.290,143.179,228.290
18,19,Jharkhand,"297,204",-,143.179,-
19,20,Uttarakhand,"245,895","1,186,379",143.179,"1,186,379"
20,21,Jammu & Kashmir,"155,956","1,631,977",143.179,"1,631,977"
21,22,Himachal Pradesh,"153,845",7.91%,143.179,7.91%
22,23,Goa,"73,170",226.806,143.179,226.806
23,24,Tripura,"49,845","1,156,039",143.179,"1,156,039"
24,25,Chandigarh,"42,114","1,091,077",143.179,"1,091,077"
25,26,Puducherry,"34,433","1,253,832",143.179,"1,253,832"
26,27,Meghalaya,"33,481",5.77%,143.179,5.77%
27,28,Sikkim,"28,723",165.556,143.179,165.556
28,29,Manipur,"27,870","793,223",143.179,"793,223"
29,30,Nagaland,"27,283","739,525",143.179,"739,525"
30,31,Arunachal Pradesh,"24,603","1,020,989",143.179,"1,020,989"
31,32,Mizoram,"22,287",4.99%,143.179,4.99%
32,33,Andaman & Nicobar Islands,-,143.179,143.179,143.179

In [70]:
driver.close()